<?xml version="1.0" encoding="UTF-8"?>
<suite name="Acceptance suite">
    <test verbose="2" name="Reminders test">
        <classes>
            <class name="web.dataprovider.RemindersSendTest"/>
        </classes>
        <classes>
            <class name="api.ApiTests"/>
            <class name="web.dataprovider.RemindersSendTest"/>
        </classes>
    </test>
</suite>